    <section id="table">
        <div class="table">

            <div id="headers">
                <span id="id">id</span>
                <span id="description">description</span>
            </div>

            <% for(var i = 0; i < contacts.rows.length; i++) { %>
                    <form class="tr" action="handleForm">
                        <input type="text" size="8" id="id" name="id" class="td" readonly value= <%= contacts.rows[i].id %>>
                        <textarea rows="2" cols="50"><%= contacts.rows[i].description %> </textarea>

                    </form>
            <% } %>     
        </div>
    </section>